{% extends 'base.html' %}
{% block admin-panel %}

<button class="btn">Create</button>
<div class="dropdown">
    <button class="btn" style="border-left:1px solid #0d8bf2">
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a  href="{% url 'post_create_url' %} "target="_blank">Post</a>
        <a  href="{% url 'tag_create_url' %}" target="_blank">Tag</a>
    </div>
</div>
<a href="{{ admin_object.get_update_url }}" class="edit link" style="{% if detail %}display: block;
        {% endif %}"> Edit</a>
<a href="{{ admin_object.get_delete_url }}" class="delete link" style="{% if detail %}display: block;
        {% endif %}"> Delete</a>

{% endblock %}